<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
	<variable name="MicrosoftLevel" value="${level:lowercase=true:truncate=4:when=level==LogLevel.Info or level==LogLevel.Warn}${when:when=level==LogLevel.Error:inner=fail}${when:when=level==LogLevel.Fatal:inner=crit}${when:when=level==LogLevel.Debug:inner=dbug}${when:when=level==LogLevel.Trace:inner=trce}" />
	<variable name="MicrosoftLayout" value="${MicrosoftLevel}: ${logger}[${event-properties:EventId_Id:whenEmpty=0}]${newline}      ${message}${onexception:inner=${newline}${exception:format=tostring}}" />

	<targets async="true">
		<target name="console" xsi:type="Console" layout="${longdate} | ${uppercase:${level}} | ${message}${newline}${exception:format=ToString}" writeBuffer="true" />
		<target name="colorconsole" xsi:type="ColoredConsole" layout="${longdate} | ${uppercase:${level}} | ${message}${newline}${exception:format=ToString}" useDefaultRowHighlightingRules="false">
			<highlight-word foregroundColor="DarkGreen" regex="^info" />
			<highlight-word foregroundColor="Yellow" regex="^warn" />
			<highlight-word foregroundColor="Black" backgroundColor="Red" regex="^fail" />
			<highlight-word foregroundColor="White" backgroundColor="Red" regex="^crit" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>